<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
   <h1>Welcome to the text analyzer. Enter your text below.</h1> 
   <form action="/analyze" method="post">
        {% csrf_token %}
        <textarea name="myarea" id="myt" cols="70" rows="10"></textarea>
        <br>
        <br>
        <input type="checkbox" name="removepunc"> Remove Punctuation</input><br>
        <input type="checkbox" name="fullcaps">UPPERCASE</input><br>
        <input type="checkbox" name="newlineremover">New Line Remover</input><br>
        <input type="checkbox" name="extraspaceremover">Extra Space Remover</input><br>
        <input type="checkbox" name="charcounter">Character Counter</input><br>
        <button type="submit">Analyze Text</button>
   </form>
   <footer><p>I'm {{ name }}, and my github profile is <a href="{{ git }}">Github</a></p>
</footer>

</body>
</html>